- @posts.each do |post|
  %article.post{:id => "id#{post.id}"}
    %h1.title
      %a{:href => "/posts/#{post.slug}"}= post.title
    -# %h2.author= Author.twitter_users(post.author_id).values.first['screen_name']
    %hr
    %section.markdown
      = markdown post.preview
    - if post.preview != post.body
      %br
      %p
        - if post.slug
          %a{:href => "/posts/#{post.slug}"} Read more...
        - else
          %a{:href => "/posts/#{post.id}"} Read more...
