!!!

%html
  %head
    %title= @title
    %link{:rel => :stylesheet, :href => '/styles.css'}
  %body
    %header
      %nav
        %h1
          %a{:href => '/'}= @blog_title
        %ul
          - if @logged_in
            %li
              Logged in as @#{@client.info['screen_name']}
              (<a href="/logout">Logout</a>)
          - else
            %li
              %a{:href => '/login'} Login
          %li
            %a{:href => '/tags/programming'} Programming
          %li
            %a{:href => '/tags/music'} Music
        - if @logged_in
          %br
            %ul
              %li
                %a{:href => '/posts/new'} New Post
              - if @post
                %li
                  %a{:href => "/posts/#{@post.id}/edit"} Edit Post
                %li
                  %a{:href => "/posts/#{@post.id}/delete"} Delete Post
    %table#boxes
      %tr
        %td#content
          %section#content
            = yield
        %td#sidebar
          %section#sidebar
            %h1
              Twitter!
            %p.tweet
              %a.twitter_profile{:href => 'http://twitter.com/sycobuny'} @sycobuny
              I don't know what to do here.
